@font-face {
  font-family: "San Francisco";
  src: url("../fonts/SFCompact.ttf");
}

:root {
  --webdesign-icon: url("../icons/m1/haze-creating-custom-brand-design-or-branding-1.png");
  --database-icon: url("../icons/m1/haze-searching-for-documents-in-folders.png");
  --frontend-icon: url("../icons/m1/haze-web-designers-working-on-website-design-1.png");
  --backend-icon: url("../icons/m1/haze-robot-helping-a-person-writing-code-1.png");
  --arrow-icon: url("../icons/m1/icons8-forward-50.png");
}

.arrow-icon {
  background-image: var(--arrow-icon);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}
.left-arrow {
  transform: rotate(180deg);
}

.webdesignimg {
  background-image: var(--webdesign-icon);
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.databaseimg {
  background-image: var(--database-icon);
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.frontendimg {
  background-image: var(--frontend-icon);
  width: 400px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

.backendimg {
  background-image: var(--backend-icon);
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "San Francisco", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

.carousel {
  position: relative;
  height: 90px;
  width: 85%;
  margin: 0 auto;
}

.carousel__wrapper .carousel {
  white-space: nowrap;
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel {
  display: flex;
  align-items: center;
}

.carousel__wrapper {
  max-width: 1200px;
  position: relative;
}

.carousel img {
  max-height: 100%;
  object-fit: cover;
  width: calc(100% / 6);
  margin-left: 30px;
}
.carousel__image:first-child {
  margin-left: 0px;
}

.carousel__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__btn--left {
  left: -23px;
}
.carousel__btn--right {
  right: -23px;
}

.navbar {
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar li {
  float: left;
}

.sidebar li a,
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sidebar img {
  filter: invert(1);
  width: 50px;
  height: 50px;
}

.sidebar li a:hover,
.navbar li a:hover {
  background-color: #aceeff69;
  border-radius: 15px;
}

.header {
  display: flex;
  padding: 5px 10px;
  width: 100%;
  height: 100%;
  background-color: rgb(18 31 46);
}
.sidebar {
  position: absolute;
  top: 67px;
  left: 0;
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  background-color: rgba(18, 31, 46, 0.794);
  border-radius: 0 0 8px 8px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar__btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .carousel__image {
    width: calc(500px / 3);
  }
  .carousel {
    margin: 40px;
    width: 1000px;
  }
}

@media screen and (max-width: 1234px) {
  .carousel__image {
    width: 250px;
  }
  .carousel {
    margin: 40px;
    width: 500px;
  }
  .indexpage__hero__container {
    flex-direction: column;
  }
}
@media screen and (max-width: 820px) {
  .carousel__image {
    width: 100px;
  }
  .carousel {
    margin: 40px;
    width: 250px;
  }
  .indexpage__summary {
    flex-direction: column;
  }
  .indexpage__summary img {
    display: none;
  }
}

.indexpage__summary {
  display: flex;
}
.indexpage__summary__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.indexpage__summary__content p {
  max-width: 700px;
}

.indexpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.indexpage__hero {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
  height: 100%;
  padding: 25px;
  background: linear-gradient(rgba(9, 9, 59, 0.65), rgba(0, 153, 255, 0.65)),
    url("../images/AdobeStock_275114154_Preview.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  align-items: center;
}

.indexpage__hero h2 {
  text-align: center;
}

.indexpage__hero__container {
  display: flex;
  font-size: x-large;
  font-weight: 200;
  width: 100%;
  justify-content: space-around;
}

.indexpage__hero__container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}

.indexpage__hero-contact {
  display: flex;
  width: 100%;

  justify-content: space-around;
}
.indexpage__hero-contact__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.contactbox {
  color: white;
  font-size: 26px;
  width: 400px;
  height: 400px;
  background: rgba(14, 22, 30, 0.9);
  border-radius: 8px;
  padding: 25px;
  gap: 25px;
  display: flex;
  flex-direction: column;
}

.contactbox textarea {
  width: 300px;
  height: 300px;
  overflow: hidden;
  font-family: inherit;
}

.contactbox input,
.contactbox textarea {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #5d5d64;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.contact_logos {
  display: flex;
  align-items: center;
  gap: 15px;
}

.portifoliopage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.container-education {
  display: flex;
  gap: 40px;
  align-self: normal;
  padding: 30px;
}

.container-education__school {
  display: flex;
  align-items: center;
  gap: 30px;
  font-style: italic;
}

.container-education__school img {
  height: auto;
  max-width: 60px;
}

.container-education__school ul {
  max-width: 600px;
}
.container-education__school p {
  max-width: 800px;
}

.container-education__courses {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid img {
  height: auto;
  max-width: 70px;
}
.grid {
  border-radius: 8px;
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 10px 30px 20px;
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.column {
  flex: 50%;
  padding: 0 4px;
}

.list-experince {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.container-education__imgs {
  display: flex;
  flex-direction: column;
}

.container-education__imgs img {
  height: auto;
  max-width: 600px;
  border-radius: 8px;
  align-self: center;
}
.container-education__imgs-small .column img {
  height: auto;
  max-width: 300px;
  border-radius: 8px;
}
.container-interests {
  display: flex;
  flex-direction: column;
  align-items: normal;
}
.container-service {
  display: flex;
  gap: 25px;
}
.container-service img {
  border-radius: 8px;
  max-width: 700px;
  height: auto;
}
.container-service p {
  max-width: 400px;
}
.mode2 {
  display: none !important;
}
.inverse {
  filter: invert(1);
}

.width {
  width: 50px;
}


